* {
    /* font-family: 'Righteous', cursive; */
    font-family: 'Maven Pro', sans-serif;
}

/* span {
    color: rgb(87, 87, 240);
}  */


:root {
    --main-prim : #F77F00;
    --main-sec : #D62828;
    --main-thi : #003049;
    --main-for : #FCBF49;
    --main-fiv : #EAE2B7;
}

body {
    background-image: url(/img/bg-annunci2.jpg);
}

em {
    color: var(--main-prim);
    text-shadow: 3px 1px 3px black;    
}

.color-text {
    color: white;
    text-shadow: 2px 2px 10px black;
    line-height: 150%;   
  
}

/*NAVBAR*/

.navbar {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;   
}

.my-navbar {
    padding: 30px 0px;
    transition: all 0.3s;
    background-color: #003049;
   
}

.scrolled {
    padding: 15px 0px;
    opacity: 1;
    
}

.navbar-brand img {
    width: 150px;
    transition: 1s;
}

.navbar-brand img:hover{
    transform: scale(1.1);
}

.my-navbar .nav-link{
    color: white;
}

.my-dropdown-menu {
    min-width: 3rem;
}


/*HEADER*/
.header {
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    position: relative;
    background-image: url(/img/sport2_old.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 40s infinite;
    background-attachment: fixed;
}

.content {
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);    
}

@keyframes slide {
    0%{
        background-image: url(/img/sport2_old.jpg);
    }
    20%{
        background-image: url(/img/book2_old.jpg);
    }
    40%{
        background-image: url(/img/pc2_old.jpg);
    }
    60%{
        background-image: url(/img/car.jpg);
    }
    80%{
        background-image: url(/img/arredamento_old.jpg);
    }
}

.margin-top {
    margin-top: 120px;
}

.margin-top-sezione {
    margin-top: 250px;
}

.margin-bottom {
    margin-bottom: 250px;
}

.sezione-container {
    background-color: white;
    padding: 20px;    
    border-radius: 4px;
    box-shadow: 0 10px 24px 0 rgb(0 0 0 / 10%);    
}

.my-btn-annuncio {
    width: auto;
    height: 45px;
    padding: 15px;    
    align-items: center;
    font-size: 12px;
    border-radius: 4px;
    color: white;
    /* background-color: #fdc68bde; */
    border: 1px solid white;    
    text-decoration: none;
    transition: 0.5s;
}

.my-btn-annuncio:hover{
    background-color: #F77F00;
    border: 1px solid #fd1105;
    color: white;
}

.btn-sezione {
    width: 250px;
    height: 50px;
    border-radius: 4px;
}

.accordion-button{
    display: flex;
    justify-content: center;
}

.accordion-button::after {
    margin-left: 0px;
    
}

.nav-link {
    color: black;
}


/* CARD
.card-annunci {
    overflow: hidden;
    flex-wrap: wrap;
    width: 280px;
    height: 500px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 10px;
}

.img-card {
    overflow: hidden;
}

.img-card img{
    transition: 0.5s;
}

.img-card img:hover{
    transform: scale(1.1);
}

.btn {
    border-radius: 20px;
    
} */

/*CARD*/
.card-annunci {
    overflow: hidden;
    flex-wrap: wrap;
    width: 280px;
    height: 310px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 10px;
    position: relative;
    transition: all 0.5s;
    
}

.img-card{    
    overflow: hidden;
    width: 100%;  
    max-height: 180px;
    position: relative; 
    z-index: 0;    
}

.card-annunci .img-card img{
    transition: all 0.5s;    
}

.img-card:hover img {
    transform: scale(1.2);
    
}

.copertina-img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 180px;
    background-color: rgba(5, 5, 5, 0.637);
    z-index: 1;
    transition: all 0.5s;
}

.copertina-img:hover{
    opacity: 1;
    
}

.card-annunci i{
    transition: all 0.3s;
    position: absolute;
    top: 135px;
    right: 23px;
    transition: all 0.3s;
    z-index: -1;
    
}

.img-card:hover i{
    transform: scale(1.2);
    z-index: 2;
}

.category {
    /* position: absolute; */
    top: 10px;
    right: -5px;
    background-color: var(--main-for);
    color: #fff;
    padding: 2px 20px 2px 10px;
    z-index: 1;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0px 0 0 0px;
}

.price {
    position: absolute;
    top: 10px;
    left: -2px;
    background-color: #690;
    color: #fff;
    padding: 2px 20px 2px 10px;
    z-index: 1;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

/* .price::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    border-color: rgba(0,0,0,0) #751814 rgba(0,0,0,0) rgba(0,0,0,0);
    border-style: solid;
    border-width: 0 6px 6px 0;
    height: 0;
    width: 0;
    z-index: 1;
} */

.btn-sezione-card {
    width: 100px;
    height: 50px;
    border-radius: 4px;
}


/*SECTION CARD*/
.bg-sfondo{
    /* background-image: url(/img/e-commerce1.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* linear-gradient(to top, rgba(0, 48, 73, 0.6) , rgba(0, 48, 73, 0.6)) , */
}


/*LOGIN*/
.bg-login {
    background-image: url(/img/images.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}
/* .card-login {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    background-color: rgba(109, 164, 201, 0.2);
    border-radius: 15px;    
} */

.my-form-control {
    background-color: rgba(0, 0, 0, 0.1) ;
    border: none;
}

.circle-login {
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    /* margin-left: 250px; */
    
}

.my-btn {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    transition: 0.5s;
}

.my-btn:hover {
    background-color: white;
    font-weight: bold;
}

/*SECTION DETAIL*/
.border-detail {
    width: 800px;
    height: 765px;
    /* border: 1px solid black; */
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.493);
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 10%);
}

/* .border-detail-descr {
    width: 750px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.438);
    
} */


/*CAROUSEL*/
.carousel {
    width: 800px;
    height: 450px;    
}

.card {
    width: 780px;
    height: 300px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 10%); */
}

.price-card-detail {
    position: absolute;
    top: 50px;
    right: 16px;
    background-color: #690;
    color: #fff;
    padding: 2px 20px 2px 10px;
    z-index: 1;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 4px 0px 0px 4px;
}

.pubblicato-card-detail {
    position: absolute;
    width: auto;
    top: 268px;
    right: 0px;
    /* background-color: #690;
    color: #fff; */
    padding: 2px 20px 2px 10px;
    z-index: 1;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 4px 0px 0px 4px;
}

.category-card-detail {
    /* position: absolute; */
    top: 10px;
    right: -5px;
    background-color: var(--main-for);
    color: #fff;
    padding: 2px 20px 2px 10px;
    z-index: 1;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0px 0 0 0px;
}


/*ANNUNCI*/
.bg-annunci {
    background-image: url(/img/bg-annunci2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.my-btn-annunci {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    transition: 0.5s;
}

.my-btn-annunci:hover {
    background-color: var(--main-prim);
    font-weight: bold;
}

.title-annunci {
    color: var(--main-prim);
    text-shadow: 3px 1px 5px rgb(0, 0, 0);
}


/*BOTTONE REVISORE*/
.bg-gradient{
    background-color: rgba(255, 255, 255, 0.582);
}

.card-revisor-1 {
    display: flex;
    width: 1200px;
    height: 400px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.582);
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 30%);
}

.card-revisor {
    width: 800px;
    height: auto;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 10%); */
}

.my-btn-revisor {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--main-fiv);
    border: none;
    transition: 0.5s;
}

.my-btn-revisor:hover {
    background-color: var(--main-prim);
    font-weight: bold;
    color: black;
}

/*FOOTER*/
.bg-footer {
    background-color: rgb(5, 60, 90);
    height: 220px;
}



/*MEDIA CARD DETTAGLIO*/
@media screen and (max-width: 991px) {
    .border-detail {
        width: 600px;
        height: 700px;
    }
}

@media screen and (max-width: 991px) {
    .card {
        bottom: 80px;
    }
}

@media screen and (max-width: 991px) {
    .carousel-control-prev {
        position: absolute;
        bottom: 25%;
    }
}

@media screen and (max-width: 991px) {
    .carousel-control-next {
        position: absolute;
        bottom: 25%;
    }
}

@media screen and (max-width: 991px) {
    .carousel-indicators {
        position: absolute;
        bottom: 18%;
    }
}


@media screen and (max-width: 767px) {
    .border-detail {
        width: 400px;
        height: 570px;
    }
}

@media screen and (max-width: 767px) {
    .card {
        bottom: 200px;
    }
}

@media screen and (max-width: 767px) {
    .carousel-control-prev {
        position: absolute;
        bottom: 50%;
    }
}

@media screen and (max-width: 767px) {
    .carousel-control-next {
        position: absolute;
        bottom: 50%;
    }
}

@media screen and (max-width: 767px) {
    .carousel-indicators {
        position: absolute;
        bottom: 45%;
    }
}

@media screen and (max-width: 415px) {
    .border-detail {
        width: 380px;
        height: 530px;
    }
}

@media screen and (max-width: 415px) {
    .card {
        bottom: 240px;
    }
}

@media screen and (max-width: 415px) {
    .carousel-control-prev {
        position: absolute;
        bottom: 50%;
    }
}

@media screen and (max-width: 415px) {
    .carousel-control-next {
        position: absolute;
        bottom: 50%;
    }
}

@media screen and (max-width: 415px) {
    .carousel-indicators {
        position: absolute;
        bottom: 50%;
    }
}

@media screen and (max-width: 360px) {
    .border-detail {
        width: 350px;
        height: 530px;
    }
}

@media screen and (max-width: 360px) {
    .card {
        bottom: 240px;
    }
}

@media screen and (max-width: 360px) {
    .carousel-control-prev {
        position: absolute;
        bottom: 50%;
    }
}

@media screen and (max-width: 360px) {
    .carousel-control-next {
        position: absolute;
        bottom: 50%;
    }
}

@media screen and (max-width: 360px) {
    .carousel-indicators {
        position: absolute;
        bottom: 50%;
    }
}


/*MEDIA HOME*/
@media screen and (max-width: 414px) {
    .margin-top-sezione {
        margin-top: 190px;
    }
}

@media screen and (max-width: 375px) {
    .margin-top-sezione {
        margin-top: 140px;
    }
}

@media screen and (max-width: 360px) {
    .margin-top-sezione {
        margin-top: 160px;
    }
}










